
body{
    padding-bottom: 80px;
}
.owais{
    display: flex;
    flex-wrap: wrap;
}
*{
    padding: 0;
    margin: 0;
}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    /* padding: 20px; */
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
}
a{
    text-decoration: none;
}

header{
    /* background-color: rgb(115, 79, 35); */
    /* background-image: linear-gradient(to top, rgba(56, 81, 14, 0.989),rgb(205, 224, 194)); */
    background-image: linear-gradient(to top, rgb(108, 92, 71),rgb(163, 155, 145));
    /* background-color:  rgb(177, 126, 190); */
    /* height: 7.5vh; */
    position: sticky;
    top: 0px;
    gap: 0;
    padding: 0;            
    margin: 0;
    height: auto;      
}
.poi{
    position: sticky;

}
.nav2{
    background-color: rgb(0, 0, 0);
    padding-top: 0;
    margin-top: 0;
}
a{
    color: rgb(255, 255, 255);
}
.x{
    margin: 2px;
    /* padding: 2px; */
    padding-left: 3px;
    /* margin-top: 40px; */
    /* background-color: rgb(247, 157, 241); */
    font-weight: 700;
    font-size: 10px;
    
    
}
.x1{
    padding-left: 10px;
}
.poi a:hover{
    color: rgb(23, 23, 51);
}
.nav2 a:hover{
    color: rgb(123, 123, 143);
}
a:hover img {
    background-color: white;
    border-radius: 3px;
    padding: 2px;
}
.icon{
    padding-left: 7px;
    font-size: 12px;
}
.cartbox {
    position: relative;
    top: -4px; 
    padding-right: 2px;  
}

.z{
    
    list-style: none;
    display: flex;
    justify-content: flex-end;

    /* margin: 4px; */
    margin-bottom: 0px;
    font-size: 10px;
    
}

.z6{
    line-height: 0.5;
}
.y{
    font-size: 16px;
    color: rgb(0, 0, 0);
    /* justify-content: center; */
    text-align: center;
    font-family:cursive;
    
   
}
li{
    padding: 4px;

}

.b,.c,.e,.f{
    margin-left: 2px;
    font-size: 13px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: "Jersey 15", serif;
  font-weight: 700;
  font-style: normal;
    
}
.parent{
    /* outline: 1px solid rgb(88, 31, 114); */
    /* border-radius: 5PX; */
    background-color: rgb(246, 245, 244);
    /* width: 229px; */
    width:80vw;
    /* height: 350px; */
    height: 65vh;
    margin: 10px 0px 10px 12px;
  /* display:inline-flex; */
    padding: 6px;
  

    
}
.g{
    /* border:1px solid rgb(0, 0, 0); */
   width: 80vw; 
   height: 47vh;
   /* text-align: center; */
   
}
.d{
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin: 4px;
}

.de{
    font-family: cursive;
    font-size:25px ;
    color: rgb(105, 30, 66);
    background-color: rgb(234, 219, 232);
    padding: 4px;

}
.de.notify{
    background-color: rgb(235, 204, 175);
    color: rgb(59, 8, 8);
}
button{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 11px;
}
.de:hover{
    color: white;
    /* background-color: rgb(164, 134, 154); */
    background-color: rgb(87, 6, 65);
    
}
.de.notify:hover{
    background-color: rgb(242, 198, 115);
    color: black;
}
.p{
    border: 2px solid red;
    height: 30px; 
    width: 40vw;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}
.foot{
    border: 2px solid black;
    width: 100vw;
    height: 7vh;
    font-weight: 700;
    background-color: rgb(23, 5, 5);
    color:white;
    position: fixed;
    bottom: 0px;
    text-align: center;
    overflow: scroll;
    font-size: 12px;
   

}
.cp{
    padding: 2px;
}
.b{
    font-size: 20px;
}
/* head{

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jersey+15&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

} */
.ins:hover{
    color: rgb(8, 41, 88);
    background-color: white;
}

/* new */
.about_header{
    background-color: rgb(142, 174, 174);
}
.about_page{
    text-align: center;
}
.contact_header{
    background-color: rgb(118, 144, 114);
}

/* login page */
.signup-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.signup-container h2 {
    font-size: 28px;
    margin-bottom: 25px;
    color: #222;
    letter-spacing: 1px;
}

/* available option */
.available-yes {
    color: rgb(36, 177, 36);
    font-weight: 600;
}

.available-no {
    color: red;
    font-weight: 600;
}



/* Form box */
.signup-form {
    width: 100%;
    max-width: 380px;
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

/* Labels */
.signup-form label {
    margin-bottom: 6px;
    font-size: 14px;
    color: #333;
}

/* Inputs */
.signup-form input {
    padding: 10px 12px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}

.signup-form input:focus {
    border-color: #000;
}

/* Sign Up Button */
.btn-signup {
    padding: 12px;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.btn-signup:hover {
    background-color: #333;
}

/* Login link */
.login-link {
    margin-top: 18px;
    font-size: 14px;
    color: #444;
}

.login-link a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

/* cart */
.cart_heading{
    text-align: center;
    font-size: 28px;
}

/* one img */
.full-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background: black;
    margin: 10px;
}

.full-image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* close button */
.close-btn{
    font-weight: bolder;
     padding-left: 50vw  ;
    color: black;
}
.close-btn:hover{
    color: rgb(200, 10, 10);
    
}

/* ===================== Desktop Layout ===================== */
@media (min-width: 768px) {
    body{
    padding-bottom: 80px;
}
.owais{
    display: flex;
    flex-wrap: wrap;
}
*{
    padding: 0;
    margin: 0;
}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 0px;
}
#cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
a{
    text-decoration: none;
}

header{
    background-color: rgb(115, 79, 35);
    /* background-image: linear-gradient(to top, rgb(163, 72, 197),rgb(86, 16, 111)); */
    /* height: 13vh; */
    height: auto; 
    position: sticky;
    top: 0px;
    padding: 0;            
    margin: 0;
}
.poi{
    position: sticky;
    /* top: 0px; */
    
    /* display: flex; */
}
a{
    color: white;
}
.x{
    margin: 2px;
    /* padding: 2px; */
    padding-left: 14px;
    /* margin-top: 40px; */
    /* background-color: rgb(247, 157, 241); */
    font-weight: 700;
    font-size: 20px; 
}
.cart{
    height: 30px;
    padding-left:10px;
}
.icon{
    padding-left: 25px;
    font-size: 20px;
}

.x1{
    padding-left: 26px;
}
.poi a:hover{
    color: rgb(23, 23, 51);
}
.nav2 a:hover{
    color: rgb(123, 123, 143);
}
a:hover img {
    background-color: white;
    border-radius: 2px;
    padding: 2px;
}
.cartbox {
    position: relative;
    top: -15px;   
    padding-right: 5px;  
}
.z{
    
    list-style: none;
    display: flex;
    justify-content: flex-end;
    /* margin: 4px; */
    /* margin-bottom: 10px; */
    margin: 0;
    padding: 0;
    font-size: 10px;
    
}

.z6{
    line-height: 0.5;
}
.y{
    font-size: 18px;
    
    color: rgb(0, 0, 0);
    /* justify-content: center; */
    text-align: center;
    font-family:cursive;
    
   
}
li{
    padding: 4px;

}

.b,.c,.e,.f{
    margin-left: 2px;
    font-size: 13px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: "Jersey 15", serif;
  font-weight: 700;
  font-style: normal;
    
}
.parent{
    /* outline: 1px solid rgb(88, 31, 114); */
    /* border-radius: 5PX; */
    background-color: rgb(246, 245, 244);
    /* width: 229px; */
    width:300px;
    /* height: 350px; */
    height: 530px;
    /* margin: 10px 0px 10px 12px; */
  /* display:inline-flex; */
  /* padding: 5px; */
  padding-left: 8px;
  padding-right: 8px;
  margin: 0;
  

    
}
.g{
    /* border:1px solid rgb(0, 0, 0); */
   width: 100%; 
   height: 400px;
   object-fit: cover;
   /* text-align: center; */
   
}
.d{
    text-align: center;
    margin: 4px;
}
.de{
    font-family: cursive;
    font-size:25px ;
    color: rgb(105, 30, 66);
    background-color: rgb(234, 219, 232);
    padding: 4px;

}
button{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 11px;
}
button:hover{
    background-color: rgb(187, 124, 167);
}
.p{
    border: 2px solid red;
    height: 30px; 
    width: 40vw;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}
.foot{
    border: 2px solid black;
    width: 100vw;
    height: 7vh;
    font-weight: 700;
    background-color: rgb(23, 5, 5);
    color:white;
    position: fixed;
    bottom: 0px;
    text-align: center;
    overflow: scroll;
    font-size: 12px;
   
}
.b{
    font-size: 20px;
}

.ins:hover{
    color: rgb(8, 41, 88);
    background-color: white;
}


}
