body{
    background-color: rgb(239, 235, 230);
}
.contact_parent{
    padding: 10px;
    border: 0.2px solid black;
    background-color: rgb(245, 244, 243);
}
.user-C{
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
}
.user_name{
    height: 5vh;
    margin: 20px;
    padding: 5px;
}
.user_email{
    height: 5vh;
    margin: 20px;
    
    padding: 5px;
}
.user_phone{
    height: 5vh;
    /* margin: 20px; */
    margin-top:10px ;
    margin-bottom: 10px;
    
    padding: 5px;
}
.user_message{
    height: 15vh;
    width: 30vw;
    margin: 8px;
    
    padding: 5px;
}
.input-message{
    position: relative;
    bottom: 80px;
}
.user_submit{
    margin-left: 100px;
    padding: 20px;
    padding-left: 50px ;
    padding-right: 50px;
    border-radius: 100px;
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    color: white;
}
.user_submit:hover{
    background-color: rgb(96, 145, 96);
}
