.contact_parent{
    padding: 10px;
}
.user-C{
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
}
.user_name{
    height: 5vh;
    margin: 20px;
    padding: 5px;
}
.user_email{
    height: 5vh;
    margin: 20px;
    
    padding: 5px;
}
.user_phone{
    height: 5vh;
    /* margin: 20px; */
    margin-top:10px ;
    margin-bottom: 10px;
    
    padding: 5px;
}
.user_message{
    height: 20vh;
    width: 40vw;
    margin: 8px;
    
    padding: 5px;
}
.input-message{
    position: relative;
    bottom: 80px;
}
.user_submit{
    margin-left: 100px;
    padding: 20px;
    border-radius: 100px;
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    color: white;
}
